version: "3.9"

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: minha-api
    ports:
      - "8081:8081"
    environment:
      SPRING_RABBITMQ_HOST: rabbitmq
      SPRING_RABBITMQ_PORT: 5672
      SPRING_RABBITMQ_USERNAME: guest
      SPRING_RABBITMQ_PASSWORD: guest

      SPRING_MAIL_HOST: mailhog
      SPRING_MAIL_PORT: 1025
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/api_login
      SPRING_DATASOURCE_USERNAME: api_login_user
      SPRING_DATASOURCE_PASSWORD: api_login_pass

    depends_on:
      - rabbitmq
      - mailhog
    restart: unless-stopped
    networks:
      - backend

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    restart: unless-stopped
    networks:
      - backend

  mailhog:
    image: mailhog/mailhog
    container_name: mailhog
    ports:
      - "1025:1025"
      - "8025:8025"
    restart: unless-stopped
    networks:
      - backend

volumes:
  rabbitmq_data:

networks:
  backend:
    external: true
    name: shared_backend
